.bg-light {
  background-color: rgb(53, 52, 52)!important;
}
.nav-theme {
background: transparent;
  font-size: 20px;
  
}

.animate-navbar {
  box-shadow: 1px 1px 1px rgb(80, 58, 58);
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 100%);
}

.navbar-light .navbar-nav .nav-link:hover{
  color:cornflowerblue;
}